.container{
    padding: 2em 0px;  
    margin: 0px 5em;
}
.principal-section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px 1fr;
    grid-gap: 15px;
}
.principal-section img{
    width: 100%;
    height: 500px;
    object-fit: cover; 
    margin-bottom: 10px; 
}
.principal-section h4{
    margin: 0px 30px;
    font-size: 30px;
}
.principal-section p{
    margin: 10px 20px;
    border-top: 1px solid black; 
    padding: 20px 0px 40px 0px;
}
.principal-section .headline{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: center;
    text-align: center;
}
.principal-section .headline h2{
    color: #abacad;
}
.Service-one{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    background-color: #fff;
    border: 1px solid black; 
}
.Service-one h4{
    color: #0b6de4;
}
.Service-two{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: #fff;
    border: 1px solid black; 
}
.Service-two h4{
    color: #0fbd91;
}
.Service-three{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-color: #fff;
    border: 1px solid black; 
}
.Service-three h4{
    color: #f6da3b;
}
.Service-for{
    grid-column: 4 / 5;
    grid-row: 2 / 3;
    background-color: #fff;
    border: 1px solid black; 
}
.Service-for h4{
    color: #db5130;
}
.secundary-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: auto;
    grid-gap: 10px;
    margin-top: 30px;
    padding-bottom: 50px;
    position: relative;
    border-bottom: 1px solid #4b4a54;
}
.secundary-section h3{
    grid-row: 1 / 2;
    margin: 20px 20px;
    border-bottom: 1px solid black; 
    font-size: 40px;
    padding-bottom: 20px; 
}
.secundary-section p{
    padding: 20px 20px 0px 20px;
}
.btn-style{
    color: #fff;
    background-color: #4b4d4c;
    width: 100px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 40px;
    margin-left: 20px;
}
.btn-style:hover{
    background-color: #db5130;
}
.columnOne-welcom{
    grid-column: 1 / 2;
    display: grid;
    align-items: start;
}
.columnOne-welcom button{
    align-self: end;
}
.columnTwo-News{
    grid-column: 2 / 3;
    display: grid;
    align-items: start;
}
.columnTwo-News button{
    align-self: end;
}
.columnThree-ourServices{
    grid-column: 3 / 4;
    display: grid;
    align-items: start;
}
.columnThree-ourServices button{
    align-self: end;
}
#arrow {
    border-right:1px solid black;
    border-bottom:1px solid black;
    width:10px;
    height:10px;
    transform: rotate(-45deg);
    margin-top:40px;
}
.columnThree-ourServices ul{
    list-style-type: none;
}
.columnThree-ourServices ul li{
    position: relative;
	padding-bottom: 10px;
}
.columnThree-ourServices ul li:before{
    content: '';
   position: absolute;
   border-right:1px solid black;
   border-bottom:1px solid black;
   width:10px;
   height:10px;
   top: calc(50% - 4px);
   left: -20px;
   transform: translateY(-50%) rotate(-45deg);
 }
.columnThree-ourServices ul li a{
    color: #db5130;
    text-decoration: none;
}
.columnThree-ourServices ul li a:hover{
    color: #36140c;
}

